#about
  .container
    .row
      .about-col-1
        img(src="/images/Portrait_dunkel.png" alt="Portrait")
      .about-col-2
        h1.sub-title Über mich
          | Ideen zum Leben erwecken – das ist meine Leidenschaft. Ob in der Gestaltung, im Marketing oder in
          | der IT – ich finde Freude daran, neue Wege zu gehen, komplexe Herausforderungen zu lösen und dabei
          | authentische Ergebnisse zu schaffen.
        p
          | Jede Aufgabe sehe ich als Chance, etwas Besonderes zu gestalten. Ich arbeite mit dem Blick für
          | Details, aber auch с пониманием общего контекста. Креативность для меня — это не процесс, а подход, 
          | который я применяю ко всему, что делаю.
        p
          | Работа для меня — это больше, чем рутина. Это выражение личности и сотрудничества. Свобода, честность 
          | и признательность — ценности, которые я воплощаю и которые вдохновляют меня. Я верю, что настоящее 
          | качество возникает, когда люди делают то, что любят, и раскрывают свои таланты. Так я создаю не только 
          | результаты, но и связи — между людьми, идеями и видениями.
        
        .tab-titles
          button(class="tab-links active-link" data-tab="Fahigkeiten") Fähigkeiten
          button(class="tab-links" data-tab="Berufserfahrung") Berufserfahrung
          button(class="tab-links" data-tab="Ausbildung") Ausbildung

    .tab-contents.active-tab#Fahigkeiten
      ul
        li
          span Marketing Management
          | Entwicklung und Umsetzung von Marketingstrategien
        li
          span UI/UX Design
          | Erstellung von Wireframes, Prototypen und benutzerfreundlichen Interfaces
        li
          span Content Management
          | CMS-Nutzung und SEO-optimierte Texterstellung
        li
          span IT
          | Webentwicklung, Programmierkenntnisse in HTML, CSS, JavaScript, Python, KI

    .tab-contents#Berufserfahrung
      ul
        li
          span 2020-2022
          | Gründerin/E-Commerce
        li
          span 2017-2020
          | Content und Marketing Managerin
        li
          span 2015-2017
          | Korrespondentin und Redakteurin

    .tab-contents#Ausbildung
      ul
        li
          span 2018-2021
          | Weiterbildung in Computergrafik und Design
        li
          span 2017-2020
          | Master of Arts in Journalistik
        li
          span 2015-2017
          | Bachelor of Arts in Journalistik
