#contact
  .container
    .row
      .contact-left
        h1.sub-title Kontaktieren Sie mich
        p
          i.bi.bi-send-fill
          | oksanatereshchenia@gmail.com
        p
          i.bi.bi-telephone-fill
          | +491755186162
        .social-icons
          a(href="https://www.instagram.com/te_oksana_/") 
            i.bi.bi-instagram
          a(href="https://www.linkedin.com/in/oksana-tereshchenia-08b7892b0/") 
            i.bi.bi-linkedin
          a(href="https://github.com/Oksanater95") 
            i.bi.bi-github
          a(href="images/LL_Oksana_Tereshchenia.pdf" download class="btn btn2") Lebenslauf herunterladen
      div(class="contact-right")
        form(name="submit-to-google-sheet")
          input(type="text" name="Name" placeholder="Ihr Vorname" required)
          input(type="text" name="Secondname" placeholder="Ihr Nachname")
          input(type="email" name="email" placeholder="Ihre E-Mail Adresse")
          textarea(name="message" rows="6" placeholder="Ihre Nachricht" class="w-full p-4 bg-gray-800 text-white rounded mb-4")
          button(type="submit" class="btn btn-2") Absenden
        span#msg
  //- .copyright
  //-   p Copyright by Oksana Te 2025 
  //-     i(class="bi bi-heart-half") Alle Rechte vorbehalten.
