#header_news(class="overflow-x-hidden bg-black")
  body(class="overflow-x-hidden bg-black")
    .container
      .hero
        h2(class="text-4xl md:text-6xl font-bold text-right") My 
          span Finanse

    style.
      span {
        color: hwb(330 0% 0%);       
      }
