#header_news(class="overflow-x-hidden bg-black")
  body(class="overflow-x-hidden bg-black")
    .container
      .hero
        //- div(class="h-screen bg-cover bg-center flex items-center justify-end text-white text-right p-8" style="background-image: url('images/Portrait_dunkel.png')")
        h2(class="text-4xl md:text-6xl font-bold text-right") My 
          span Finanse

    style.
      span {
        color: hwb(330 0% 0%);       
      }
