#header  
  //- header(class="h-screen bg-cover bg-center relative" style="background-image: url('/images/Back_1.PNG')")
  .container
    +navbar()
    //- nav
    //-   img(src="/images/Logo_Oksana_Te.png" alt="Logo" class="logo")
    //-   ul(id="sidemenu" style="right: -200px")
    //-     li: a(href="#header") Startseite
    //-     li: a(href="#about") Über mich
    //-     li: a(href="#services") Leistungen
    //-     li: a(href="#portfolio") Portfolio
    //-     li: a(href="#contact") Kontakt
    //-     li: a(href="#") News
    //-     li: a(href="#") Finans
    //-     i(class="bi bi-x" onclick="openmenu()")
    //-   i(class="bi bi-list" onclick="openmenu()")
        
    .header-text
      p Digital Marketing
      h1
        | Hi, ich bin 
        span Oksana,
        br
        | und ich bin für Content & Strategie zuständig
