#portfolio
  .container
    h1.sub-title Portfolio
    .work-list
      
      +portfolioItem("/images/Work_1.png", "Landing Page Design", "Optimierung der Landing Pages", "https://www.instagram.com/ot_parfumes_ua/")
      +portfolioItem("/images/Work_2.png", "Google Ads Kampagnen", "Steigerung der Conversion-Rate", "https://gii.global/")
      +portfolioItem("/images/Work_3.png", "Social Media Marketing", "Markenbekanntheit steigern", "https://www.instagram.com/the_beauty_room_ua/")
