extends layouts/layout

block content
  include headers/header
  include partials/_about
  include partials/_services
  include partials/_portfolio
  include partials/_contact
  include partials/_footer
