#header
  //- header(class="h-screen bg-cover bg-center relative" style="background-image: url('/images/Back_1.PNG')")
  .container
    +navbar(true)
    .header-text
      p Die Welt steht auf
      h1
        | ich mein 
        span Finanzen
        br
        | Soll und Haben
