#header  
  .container
    +navbar(false)
    .header-text.text-right
      p Digital Marketing
      h1
        | Hi, ich bin 
        span Oksana,
        br
        | und ich bin für Content & Strategie zuständig
